
@{
    ViewData["Title"] = "Index";
}


<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <table class="table table-borderless">
        <tr>
            <td><a href="../cliente/listacliente"><img src="~/images/clientes.png" width="150" height="150" /></a></td>
            <td><a href="../vendedor/index"><img src="~/images/vendedores.png" width="150" height="150" /></a></td>
            <td><a href="../produto/index"><img src="~/images/produtos.png" width="150" height="150" /></a></td>
        </tr>
        <tr>
            <th><a href="../cliente/index">Clientes</a></th>
            <th><a href="../vendedor/index">Vendedores</a></th>
            <th><a href="../produto/index">Produtos</a></th>
        </tr>

        <tr>
            <td><a href="../venda/index"><img src="~/images/vendas.png" width="150" height="150" /></a></td>
            <td><a href="../cliente/index"><img src="~/images/relatorios.png" width="150" height="150" /></a></td>
            <td><a href="../cliente/index"><img src="~/images/configuracoes.png" width="150" height="150" /></a></td>
        </tr>
        <tr>
            <th><a href="../venda/index">Registro de Vendas</a></th>
            <th><a href="../cliente/index">Relatórios</a></th>
            <th><a href="../cliente/index">Configurações</a></th>
        </tr>
    </table>
</div>



