@model ProdutoModelVW
@{
    ViewData["Title"] = "Index";
    var LTCategorias = (List<SelectListItem>)(@ViewData["LTCategorias"]);
    var LTGenero = (List<SelectListItem>)(@ViewData["LTGenero"]);
}



<h1>Cadastro de Produto</h1>

<form asp-action="Salvar" asp-controller="Produto">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input type="text" class="form-control" asp-for="Nome">
        <label asp-for="Preco_Custo"></label>
        <input type="text" class="form-control" asp-for="Preco_Custo">
        <label asp-for="Preco_Sugerido"></label>
        <input type="text" class="form-control" asp-for="Preco_Sugerido">
        <label asp-for="Qtd"></label>
        <input type="number" class="form-control" asp-for="Qtd">

        <label asp-for="idCategoria"></label>
        <select asp-for="idCategoria" asp-items="LTCategorias" class="form-control"></select>

        <label asp-for="idGenero"></label>
        <select asp-for="idGenero" asp-items="LTGenero" class="form-control"></select>

        <label asp-for="Validade"></label>
        <input type="date" class="form-control" asp-for="Validade">
        <input type="hidden" asp-for="Id">

    </div>

    @Html.Raw(ViewData["Valida"])

    <button type="submit" class="btn btn-primary">Registrar</button>

</form>
