@{
    @model List<VendedorModel>;
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <tr>
            <th><h2>Lista de Vendedores</h2></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-sm-right"><button class="btn btn-primary" type="button" onclick="window.location.href ='/vendedor/index'">Novo</button><th>
        </tr>
    </table>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-condensed table-hover">

            <thead>
                <tr class="container">
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="height:10px">@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/vendedor/editar?Id=@item.Id&Nome=@item.Nome&Email=@item.Email&senha=@item.Senha'">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="window.location.href='/vendedor/excluir?Id=@item.Id'">Excluir</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            Sem Registros!
        </div>
    }

</div>


