@{
    @model List<VendedorModel>;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Lista de Vendedores</h4>
    <button class="btn btn-block btn-primary" type="button" onclick="window.location.href ='/vendedor/index'">Cadastrar Vendedor</button>
    @if (Model.Count > 0)
    {
        <table class="table">

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/vendedor/editar?Id=@item.Id&Nome=@item.Nome&Email=@item.Email&senha=@item.Senha'">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="window.location.href='/vendedor/excluir?Id=@item.Id'">Excluir</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            Sem Registros!
        </div>
    }

    <button class="btn btn-block btn-primary" type="button" onclick="window.location.href ='/vendedor/index'">Cadastrar Cliente</button>
</div>


